WINDOWS_VERSION=11
WINDOWS_PASSWORD=change-me
WINDOWS_USERNAME=user
WINDOWS_WEB_PORT=18006
WINDOWS_RDP_PORT=13389
WINDOWS_DATA_DIR=./windows11-mt5-data
WINDOWS_SHARED_DIR=./windows-mt5-shared
WINDOWS_OEM_DIR=./oem
WINDOWS_DISK_SIZE=64G
WINDOWS_RAM_SIZE=4G
WINDOWS_CPU_CORES=4
